In [1]:
import pandas as pd

In [30]:
# read the data (not included on git as it is huge)
data=pd.read_csv('cdli-catalogue.csv')

In [31]:
# take a look at the size of the data
data.shape

(322717, 63)

In [32]:
# and the first few rows
data.head()

,accession_no,accounting_period,acquisition_history,alternative_years,ark_number,atf_source,atf_up,author,author_remarks,cdli_collation,...,seal_id,seal_information,stratigraphic_level,subgenre,subgenre_remarks,surface_preservation,text_remarks,thickness,translation_source,width
0,NaN,NaN,NaN,NaN,21198/zz001q0dtm,"Englund, Robert K.",NaN,CDLI,"31x61x18; Lú A 14-16.30-32.48-50; M XVIII, auf...",NaN,...,,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,18,NaN,61
1,NaN,NaN,NaN,NaN,21198/zz001q0dv4,"Englund, Robert K.",NaN,CDLI,30x48x13; Lú A 13-15.23-25.?; Fundstelle wie W...,NaN,...,NaN,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,13,NaN,48
2,NaN,NaN,NaN,NaN,21198/zz001q0dwn,"Englund, Robert K.",NaN,"Englund, Robert K. & Nissen, Hans J.","42x53x19; Vocabulary 9; Qa XVI,2, unter der Ab...",NaN,...,NaN,NaN,NaN,witness Archaic Vocabulary,Text category: 15-09; Foreign ID: LVO 9,NaN,NaN,19,NaN,53
3,NaN,NaN,NaN,NaN,21198/zz001q0dx5,"Englund, Robert K.",NaN,CDLI,26x23x23; Lú A 9-10.?.?; Fundstelle wie W 9123...,NaN,...,NaN,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,23,NaN,23
4,NaN,NaN,NaN,NaN,21198/zz001q0dzp,"Englund, Robert K.",NaN,CDLI,"29x36x20; Lú A Vorläufer; Qa XVI,2, unter der ...",NaN,...,NaN,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,20,NaN,36

In [33]:
# now take a look at the columns
data.columns

Index(['accession_no', 'accounting_period', 'acquisition_history',
       'alternative_years', 'ark_number', 'atf_source', 'atf_up', 'author',
       'author_remarks', 'cdli_collation', 'cdli_comments', 'citation',
       'collection', 'composite', 'condition_description', 'date_entered',
       'date_of_origin', 'date_remarks', 'date_updated', 'dates_referenced',
       'db_source', 'designation', 'dumb', 'dumb2', 'electronic_publication',
       'elevation', 'excavation_no', 'external_id', 'findspot_remarks',
       'findspot_square', 'genre', 'google_earth_collection',
       'google_earth_provenience', 'height', 'id', 'id_text2', 'id_text',
       'join_information', 'language', 'lineart_up', 'material', 'museum_no',
       'object_preservation', 'object_type', 'period', 'period_remarks',
       'photo_up', 'primary_publication', 'provenience', 'provenience_remarks',
       'publication_date', 'publication_history', 'published_collation',
       'seal_id', 'seal_information', 'stratigraphic_level', 'subgenre',
       'subgenre_remarks', 'surface_preservation', 'text_remarks', 'thickness',
       'translation_source', 'width'],
      dtype='object')

In [6]:
# I know from opening up the data in excel that there is a 'collection' collumn which contains the name of the country
# the collection is from let's take a look at this
data.collection.head()

0    Vorderasiatisches Museum, Berlin, Germany
1    Vorderasiatisches Museum, Berlin, Germany
2    Vorderasiatisches Museum, Berlin, Germany
3    Vorderasiatisches Museum, Berlin, Germany
4    Vorderasiatisches Museum, Berlin, Germany
Name: collection, dtype: object

In [47]:
# OK... let's see if we can create a function that strips the country from the collection
def getCountryFromCollection(collection):
    # first make sure collection is a string
    collection=str(collection)
    # now split using the column
    collection=collection.split(',')
    # now get the last part of the split (-1 signifies the end of an array)
    country=collection[-1]
    # now get rid of ? and ) 
    country=country.replace("?","")
    # sometimes there is extra information after the country surrounded by parenthesis, get rid of that
    country=country.split('(')[0]
    country=country.replace(")","")
    country=country.strip()
    return country
    
#data['country']=data.collection.apply(lambda x: str(x).split(',')[-1].strip())

In [51]:
# create a new column called country by applying the above function to every 'collection' entry
data['country']=data.collection.apply(lambda x: getCountryFromCollection(x))

In [49]:
countries=data['country'].value_counts()

In [50]:
countries[1:50]

UK                              79831
Turkey                          34870
Syria                           19225
France                          15462
Iraq                            15363
Germany                         14965
unlocated                       12257
nan                              9435
Norway                           4293
Russian Federation               2822
Holland                          2805
Italy                            2098
Spain                            1555
Canada                           1551
Iran                             1102
Switzerland                      1086
Japan                             826
Jerusalem                         738
Belgium                           697
University of Heidelberg          696
Czech Republic                    472
Jordan                            353
Russian                           252
Ireland                           243
Egypt                             236
Lebanon                           215
Mrs. W. H.                        198
Europe                            141
Denmark                           126
Australia                         124
Israel                            101
Finland                            56
Sweden                             47
Austria                            42
private: Foroughi collecllon       39
Poland                             37
Luxemburg                          36
Missouri                           29
Hungary                            22
32811 USA                          14
Luxembourg                          9
Connecticut                         8
Brazil                              8
Croatia                             7
Bulgaria                            6
Collection Albert Maignan           5
India                               5
p. 384f.                            5
private: H. V. Hilprecht            5
Name: country, dtype: int64