In [22]:
import pandas as pd

In [24]:
years=['2019','2018','2017','2016','2015']

In [35]:
# create an empty data frame
happy=pd.DataFrame()

# loop through all the years and concatenate a new year each time through
for year in years:
    print(year)
    # read one sheet of the excel file using year to specify which sheet
    data=pd.read_excel('WorldHappiness.xlsx',year)
    data['year']=year
    print(data.shape)
    happy=pd.concat([happy,data])

2019
(156, 10)
2018
(156, 10)
2017
(155, 10)
2016
(157, 10)
2015
(158, 10)

In [36]:
# look at shape of concatenated data
happy.shape

(782, 10)

In [37]:
happy.head()

,Rank,Country,Happiness score,GDP per capita,Family,Healthy life expectancy,Freedom,Generosity,Corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019